<template name="countryList">
  <h2>{{i18n "country_list_our_services"}}</h2>
  {{#Animate}}
    {{#each countries}}
      {{> country}}
    {{/each}}
  {{/Animate}}
</template>


<template name="country">
  <style>
    div.country-thumbnail{
      height: 300px;
      margin: 20px;
      
      <!-- For animate package -->
      opacity: 1; 
      transition: opacity 1000ms;
    }
    div.country-thumbnail.animate{
      <!-- For animate package -->
      opacity: 0; 
    }
    div.country-thumbnail img{
      height: 35px;
      width: 35px;
    }
    div.country-thumbnail li.no{
      display: none;
    }
    div.country-thumbnail ul.country-info{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  </style>
  
  <div class="col-md-3 text-center well country-thumbnail animate">
    <ul class="country-info">
      <li><img src="{{img}}"><br></li>
      <li><h3>{{name}}</h3></li>
      <li class="{{consult}}">{{i18n "countrythumb.consult"}}</li>
      <li class="{{doc_check}}">{{i18n "countrythumb.doch"}}</li>
      <li class="{{fill_invoice}}">{{i18n "countrythumb.inv"}}</li>
      <li class="{{insurance}}">{{i18n "countrythumb.insurance"}}</li>
    </ul>
  </div>
</template>