<template name="header">
  <header>
    <img src="/img/sample_logo.png" id="logo-img" class="col-md-2">
    <ul class="nav nav-tabs col-md-10">
      <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
      <li class="pull-right"><a href="#"><span class="glyphicon glyphicon-asterisk"></span> Login</a></li>
    </ul>
  </header>
</template>